# Virtual Environment
venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Models
# *.pkl (uncomment to ignore model files in the future)

# Data
# data/*.csv (uncomment to ignore data files in the future)

# Additional
.venv/
.streamlit/secrets.toml
